.gradient-background {
  background: linear-gradient(300deg, #745024, #EEF0E5,#B89568);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}
.gradient-background-2 {
  background: linear-gradient(300deg, #B89568, #EEF0E5,#745024);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.background1{
  background-image: url("../images/back_4.jpg"); 
  background-size:cover;
}

body{
  font-family: 'PT Sans', sans-serif;
}
h1,h2,h3,h4{
  font-family: 'Libre Baskerville', serif;
}
.title-photo{
  padding: 20px;
  max-height: 100%;
  max-width: 100%; 
}
.top-pad{
  padding: 20px;
  height: 60vh;
  
}
.portrait{
  border-radius: 45%;
  text-align: center;
}
.text-2{
  text-align: center;
  
}

.text-contain{
  text-align: center;
  position: absolute;
  top: 20px; 
  background-color: rgba(248,213,170, 0.5);
  /*opacity: 50%;*/
  color: #163020;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  
 
}
@media (max-width:600px) {
  .text-contain{
    position: relative;
    top: 0;left: 0;
    
   
  }
}

#features{
  /*background-color: #93BFCF;*/
}
#testimonial{
  background-color: #304D30;
}
#foot{
  background-color: #EEF0E5;
}
#contact{
  background-color:#B89568;
}
.my-4{
  margin-top: 0!important;
  margin-bottom: 0!important;
}
.my-5{
  margin-top: 0!important;
  margin-bottom: 0!important;
}
.bton{
  background-color:#102C57;
  color: whitesmoke;
  border: solid;
  
}
.bton:hover{
  background-color:#F6995C;
  border-color: whitesmoke;
}